<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>general settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>

        <input-field type="bool">
            <name>showSearchField</name>
            <label>continue to show the search field and keep the search accessible</label>
            <label lang="de-DE">das Suchfeld weiterhin anzeigen und die Suche weiterhin erreichbar lassen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showWishListButton</name>
            <label>continue to show the wish list button and keep the wish list accessible</label>
            <label lang="de-DE">die Merkzettel-Schaltfläche weiterhin anzeigen und den Merkzettel weiterhin erreichbar lassen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showCustomerAccountButton</name>
            <label>continue to show the customer account button and keep the account accessible</label>
            <label lang="de-DE">die Kundenkonto-Schaltfläche weiterhin anzeigen und das Kundenkonto weiterhin erreichbar lassen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showCartButton</name>
            <label>continue to show the cart button and keep the checkout accessible</label>
            <label lang="de-DE">die Warenkorb-Schaltfläche weiterhin anzeigen und den Checkout weiterhin erreichbar lassen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showPrices</name>
            <label>continue to show prices</label>
            <label lang="de-DE">Preise weiterhin anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>alignSearchFieldToRight</name>
            <label>align the search field to the right</label>
            <label lang="de-DE">Suchfeld rechtsbündig ausrichten</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>settings for the redirection</title>
        <title lang="de-DE">Einstellungen für die Weiterleitung</title>

        <input-field type="bool">
            <name>redirectionIsActive</name>
            <label>active</label>
            <label lang="de-DE">aktiv</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>redirectTarget</name>
            <options>
                <option>
                    <id>homepage</id>
                    <name>to home page</name>
                    <name lang="de-DE">zur Startseite</name>
                </option>
                <option>
                    <id>category</id>
                    <name>to a category</name>
                    <name lang="de-DE">zu einer Kategorie</name>
                </option>
                <option>
                    <id>landing_page</id>
                    <name>to a landingpage</name>
                    <name lang="de-DE">zu einer Landingpage</name>
                </option>
            </options>
            <label>redirect</label>
            <label lang="de-DE">Umleitung</label>
            <defaultValue>homepage</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>redirectToCategory</name>
            <entity>category</entity>
            <label>category to redirect to</label>
            <label lang="de-DE">Kategorie, auf die umgeleitet werden soll</label>
        </component>

        <component name="sw-entity-single-select">
            <name>redirectToLandingpage</name>
            <entity>landing_page</entity>
            <label>landingpage to redirect to</label>
            <label lang="de-DE">Landingpage, auf die umgeleitet werden soll</label>
        </component>
    </card>
</config>
